@import url("homePage.css");
@import url("countryPages.css");

body {
    margin: 0;
    background-color: rgba(14, 166, 212, 0.664);
    /* color: rgb(239, 78, 54); */
}

a:link, a:visited {
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(239, 78, 54);
    padding: 5px;
    margin: 0;
}

a:hover, a:active {
    background-color: whitesmoke;
    color: rgb(239, 78, 54);
}